body{
    background:#0b1020;
    color:white;
    text-align:center;
    font-family:Arial,sans-serif;
    padding:30px 10px;
    margin:0;
}

h1{
    color:#a855f7;
    font-size:48px;
    margin-bottom:10px;
}

p{
    color:#d1d5db;
    font-size:18px;
}

input,select{
    width:85%;
    max-width:350px;
    padding:15px;
    margin:10px;
    border:none;
    border-radius:15px;
    font-size:18px;
    background:white;
    color:black;
    box-sizing:border-box;
}

button{
    width:85%;
    max-width:350px;
    padding:15px;
    margin:15px;
    border:none;
    border-radius:15px;
    font-size:20px;
    font-weight:bold;
    background:#a855f7;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#9333ea;
}

#result{
    width:85%;
    max-width:500px;
    margin:30px auto;
    padding:25px;
    border-radius:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    color:white;
    line-height:1.8;
    font-size:20px;
}

#result p{
    color:white;
    margin:15px 0;
}

#result b{
    color:#d8b4fe;
}

@media(max-width:600px){
    h1{
        font-size:38px;
    }

    input,select,button{
        width:90%;
    }

    #result{
        width:90%;
    }
}